:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --grid-size: 1px;
}

body {
    background-color: #000;
    color: white;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
}

#container {
    display: grid;
    grid-gap: 0;
    position: relative;
    margin: 5em auto 0rem auto;
    width: 30em;
    height: 30em;
    border: 3px solid black;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    padding: 0em;
    border: var(--grid-size) solid black;
    text-align: center;
    background-color:white;
}

button {
    display: inline-block;
    background-color: #e61b1b;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    background-color: #3060ff;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}