body {
    background-color: #000;
    color: white;
    font-size: xx-large;
    margin: 0;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #707070;
    margin-bottom: 1rem;
}

.calculator-container {
    margin: auto;
    width: 70%;
    height: 50%;
    background-color: #afafaf;
    border-radius: 2%;
}

.button-container {
    padding: 1rem 1rem;
    display: grid;
    background-color: grey;
    grid-template-columns: auto auto auto;
    border-radius: 5%;
}

.display-container{
    padding: 1rem;
    height: 3rem;
    background-color: #afaaf;
}

button {
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color: #c62d1f;
    border-radius: 16px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: inherit;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #81005;
}

button:hover {
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color: #f2437;
}

button:active {
    position: relative;
    top: 1pxb
}